# Git related
.git
.gitignore

# Node.js
node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.DS_Store
.npmrc

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/

# Editor directories and files
.idea
.vscode
*.swp
*.swo 